@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	/*background: #e8f5e9;*/
  background: #fff;

	color: #444444;
}

header {
	width: 100%;
}

.content {
  flex: 1;
}

nav {
	width: 100%;
    background: #fff;
    padding: 5px 20px;
}

nav .logo {
	display: flex;
}

nav .logo img {
	width: 32px;
	height: 32px;
}

nav .logo a {
	padding: 4px 16px;
  font-family: 'Roboto Slab', serif;
  font-size: 48px;
  letter-spacing: 0.1em;
}

nav ul {
    list-style-type: none;
}
nav a {
    color: #444444;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', serif;
}

nav .logo a:hover {
    text-decoration: none;
}

.arrow {
	color: #50cc56;
}

#topBtn {
  display: none;
  background-color: Transparent;
  background-repeat:no-repeat;
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  padding: 15px;
  font-size: 32px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu li {
    font-size: 14px;
    font-weight: bold;
    padding: 15px 5px;
    white-space: nowrap;
}

.toggle {
    order: 1;
}

nav .logo a,
.toggle a {
    font-size: 20px;
}

.item.button {
    order: 2;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active {
    display: block;
}


@media all and (min-width: 600px) {
    .menu {
        justify-content: center;
    }
    nav .logo {
        flex: 1;
    }
    .toggle {
        flex: 1;
        text-align: right;
    }
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle {
        order: 2;
    }

    .button a {
    	font-size: 14px;
    	border-radius: 25px;
    	color: #fff;
        padding: 7.5px 15px;
        background: #50cc56;
        border: 1px #5ef266 solid;
    }

    .button a:hover {
        text-decoration: none;
    }

    .button a:hover {
        background: #43a047;
        border-color: #5ef266;
    } 
}

@media all and (min-width: 900px) {
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .button {
        order: 2;
    }
    .menu li {
        padding: 15px 10px;
    }
    .menu li.button {
        padding-right: 0;
    }


}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 32px;
  align-items: center;
  background: url(assets/background.jpg) center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  color: #fff;
}

/*.main:after {
  margin-top: 72px;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.1);
  z-index: 2;
  height: 100%;
  filter: blur(10px);
}*/

.main h1 {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.main button {
  margin: 56px 32px 0px 32px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  width: 250px;
  height: 70px;
  border-radius: 35px;
  border: none;
  color: #fff;
  background-color: #fb8c00;
  text-transform: uppercase;

}

.main button  a{
  color: #fff;
  text-decoration: none;
}

.main .text {
  position: relative;
  z-index: 3;
  color: #fff;
  text-align: center;
  padding: 50px;  
}

.work_examples{
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
    list-style-type: none;
}

.video {
  font-size: 32px;
  margin: 32px;
  width: 270px;
  height: 202px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.video i, h6 {
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
}

.video h6 {
  text-align: center;
  padding-top: 24px;
}

.video i {
  padding-top: 56px;
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;

}

.video_prev {
  width: 50%;
  height: 50%;
}

.about_system {
  font-size: 20px;
  color: #5e5e5e;
  padding: 32px 16px 32px 16px;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
}

.about_system p {
  padding: 16px;
  text-align: justify;
  text-indent: 32px;

}

.sub_about {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
}

.sub_about img {
  margin-left: 8px;
  width: 480px;
  height: 360px;
  float: left;
}

.sub_about p {
  align-self: center;
}

.details {
  display: flex;
  justify-content: space-between;
}

.details img {
  margin-left: 24px;
  width: 480px;
  height: 360px;
}

.details .details_list {
  padding-left: 56px;
  flex: 1;
  align-self: center;
  font-size: 24px;
  color: #5e5e5e;
  padding: 32px 16px 32px 16px;
  font-family: 'Source Sans Pro', sans-serif;
}

.details .details_list ul {
  list-style-type: none;
}

.details .details_list li {
  padding: 16px;
}

.details .details_list li span{
  font-weight: bold;
  font-size: 28px;
}

.system_efficiency {
  margin-top: 48px;
}

.system_efficiency h2 {
  text-transform: uppercase;
  text-align: center;
}

.docs {
	text-align: center;
	margin: 32px auto 32px auto;
	width: 500px;
}

.docs .gallery {
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.docs .gallery .big {
  flex: 1;
}

.docs .gallery img,
.docs .gallery a {
  text-align: center;
  padding: 16px;
}

.docs .gallery img {
  width: 95%;
  height: 95%;
	border-radius: 25px;
  	background: #fff;
  	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.reviews {
	text-align: center;
	margin: 32px auto 32px auto;
	max-width: 500px;
	
}

.reviews .gallery {
  display: flex;
  justify-content: center;
}

.reviews .gallery img,
.reviews .gallery a {
  text-align: center;
  width: 70%;
  height: 70%;
  padding: 16px;
}

.reviews .gallery img {
	border-radius: 25px;
  	background: #fff;
  	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

footer{
 	background-color: #43a047; 
  width: 100%;
  color: #fff;
}

.footer .container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 16px 0px 16px 0px;
}

.footer .container i,
.footer .container a{
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	padding: 0px 8px;
}

.footer .container span{
	padding: 0px 8px;
}

.footer .logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer img,
.footer h3 {
	padding: 0px 8px;
}

.footer h3 {
	font-size: 18px;
	font-weight: bold;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons .icon-container i {
  font-size: 24px;
}


footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  padding: 8px 0px 8px 0px;
}

footer ul {
  list-style-type: none;
}

footer ul span,
footer ul a {
  text-decoration: none;
  font-family: 'Roboto', serif;
  color: #fff;
  font-size: 16px;
  padding: 0px 8px;
}

footer h3 {
  order: 0;
}

footer .social {
  order: 1;
}

footer .contacts {
  order: 2;
}

footer .social ul{
  display: flex;
}

footer .contacts ul{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer .contacts li {
  padding: 4px 0px 4px 0px;
}

.popup .make_order form{
	/*margin-top: 48px;*/
}

.popup .make_order,
.contact-form {
  padding-bottom: 50px;
  width: 100%;
}

.popup .make_order form,
.contact-form form {
  width: 100%;
  padding-top: 16px;
}

.popup .make_order .contact-form input,
.contact-form input,
.textarea-positioning textarea {
 	width: 100%;
  display: block;
  outline: none;
}

.textarea-positioning {
  /*width: 456px;*/
  width: 90%;
  margin: 0 auto;
}

.contact-form .textarea-positioning {
  width: 350px;
}

.popup .make_order input[type=email],
.popup .make_order input[type=tel],
.popup .make_order input[type=text],
.contact-form input[type=text],
.contact-form input[type=tel],
.contact-form input[type=email], 
.textarea-positioning textarea {
  border: 2px solid #39873d;
}

.popup .textarea-positioning {
  margin-left: 0px; 
}

.textarea-positioning textarea {
	color: #000;
  height: 179px;
  padding-top: 20px;
  padding-left: 20px;
  resize: none;
  box-sizing: border-box;
}

.popup .make_order input[type=email],
.popup .make_order input[type=tel],
.popup .make_order input[type=text],
.contact-form input[type=email],
.contact-form input[type=tel],
.contact-form input[type=text] {
  height: 52px;
  /*width: 456px;*/
  width: 90%;
  margin: 0 auto 24px auto;
  padding-left: 20px;
  box-sizing: border-box;
}

.contact-form input[type=email],
.contact-form input[type=tel],
.contact-form input[type=text] {
  width: 350px;
}

.popup .make_order input[type=submit],
.contact-form input[type=submit] {
  height: 53px;
  /*width: 170px;*/
  width: 50%;
  margin: 26px auto 0 auto;
  border-radius: 10px;
  border: transparent;
  font-weight: 800;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #50cc56;
  cursor: pointer;
}

.contact-form input[type=submit] {
  width: 350px;
}

.popup .make_order input[type=submit]:hover,
.contact-form input[type=submit]:hover {
 	background: #43a047;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 32px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  max-width: 30%;
  max-height: 85vh;
  position: relative;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .make_order {
  max-height: 30%;
  overflow: auto;
}


